/* @import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

body {
    font-family: 'Fresca', sans-serif;
}

p, button, a, input, label, textarea, .form-control, .custom-file-label, .btn {
    font-size: 18px;
} */


:root {
    --yellow-accent: #f5e7c2;
    --red-dark-accent: #e74c51;
    --red-accent: #fd353c;
    --main-background: #09080d;
    --second-background: #3c3438;
    --green-accent: #538989FF;
    --green-dark-accent: rgb(71, 101, 101);

}

.btn-danger {
    background-color: var(--red-dark-accent);
}

.button-green-primary {
    background-color: var(--green-accent);
    color: white;
    border: 1px solid var(--green-dark-accent);
}

.button-green-primary:hover {
    color: white;
    background-color: var(--green-dark-accent);
    border-color:  var(--green-accent);
}
p{
    color: lightgray;
}
.button-green-primary:active {
    color: white;
    background-color: var(--green-dark-accent);
    border-color:  var(--green-accent);
}

.col-6-flex {
    flex-grow: 6;
}
h1{
    text-shadow: 2px 2px 4px #000000;
}
body{
    background-color: #09080d;
    color: lightgrey;
}
#join-game-code-input{
    border: 2px solid white;
}
.card-body,.form-control, .list-group-item{
    background-color: #3c3438;
    border-color: #92a8d1;
    color: white;
    border: none;
}
.navbar-brand{
    font-weight: bold;
}
.delete-user-button {
    border-radius: 50%;
    height: 24px;
    max-width: 24px;
    border: none;
    display: flex;
    justify-content: center;
    background-color: var(--red-dark-accent);
    margin: auto 0;
    align-items: center;
}
.instructions{
    background-color: whitesmoke;
    margin: 40px;
    color: var(--green-dark-accent);
    padding: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: #ABB7B8;
}
.instructions p{
    color: var(--green-dark-accent);
}
.instructions h2{
    font-size: 37px;
}
.instructions .misterX{
    background-color: #3c3438;
    color: floralwhite;
    padding: 10px;
    width: 100%;
    border-radius: 12px;
}
.instructions .misterX p{
    color: floralwhite;
}
.active_page{
    background-color: #65727FFF;
    border-radius: 10px;
    margin: auto;
}
.tip{
    background-color: #C4D4D4FF;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    padding: 3px;
    font-weight: bold;
    font-size: 16px;
}
.delete-user-button > svg {
    height: 16px;
    width: 16px;
}

.host-action-buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    min-width: max-content;
    
}

.delete-user-button {
    margin-left: 0.5rem;
    border-radius: 50%;
    height: 24px;
    max-width: 24px;
    border: none;
    display: flex;
    justify-content: center;
    background-color: var(--red-dark-accent);
    align-items: center;
}

.mister-X-button {
    border-radius: 50%;
    height: 24px;
    max-width: 24px;
    border: none;
    display: flex;
    justify-content: center;
    background-color: var(--yellow-accent);
    align-items: center;
}

.mister-X-button > img {
    height: 80%;
    width: 80%;
}

.name-joined-users-label {
    overflow-x: scroll;
}

.button_row{
    position: relative;
    text-align: center;
    text-decoration: none;
}
.button_row a{
    text-decoration: none;
}
#go-to-game-button{
    display: flex;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #77979a;
    color: white;
    padding: 10px;
    horiz-align: center;
    border: 2px solid #77979a;

}
#go-to-game-button:hover{
    text-decoration: none;
    background-color: #568b90;

}
#movement_table .table {
    color: lightgrey;
}
.one_piece {
    float: left;
    margin-left: 70px;
    margin-right: 75px;
}
#navbar {
    background-color: #778695;
    color: white;
}
a {
    color: #CE2F2BFF;
}
a:hover {
    color: #AA2720FF;
}
#footer {
    background-color: #ABB7B8;
}
.footer_title{
    color: darkslategray;
}
/* Here starts css for HOMEPAGE */
#home-header {
    background-image: url("../images/home_page.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    clip-path: polygon(0% 0%, 0% 76.97%, 28.45% 94.86%, 100% 72.94%, 100% 0%);
}


#home-header > h1{
    color: #ffeab1;
    font-size: 7rem;
    font-weight: 800;
    margin-top: 4rem;
}

.game-home-buttons {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
}

.game-home-button {
    margin: 0 1.5rem;
    border: none;
    background-color: var(--green-accent);

    color: floralwhite;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

#join-game-code-input {
    width: max-content;
}

.home-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.home-div > div {
    margin: 1rem;
    display: inline-block;
}






/* here starts the css for the FOOTER */
#rug-logo-footer {
    filter: invert(80%);
}

footer ul {
    padding: 0;
    list-style-type: none;
}




/* here starts the css for test movement! */
/* .row {
    display: flex;
    flex-direction: column;
} */

#movement_table {
    display: none;
    width: 50%;
}

#testform {
    width: 50%;
}

h5 {
    display: block;
}

.btn-primary:hover {
    cursor: pointer;
}

#moves_table th, #mrxtable th {
    color: lightgrey;
}

#moves_table td, #mrxtable td {
    color: white;
}

#mrxdiv {
    max-height: 200px;
    overflow-y: scroll;
}

#vehiclebuttons {
    border: 5px #92a8d1;
}