/* @import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

body {
    font-family: 'Fresca', sans-serif;
}

p, button, a, input, label, textarea, .form-control, .custom-file-label, .btn {
    font-size: 18px;
} */


:root {
    --yellow-accent: #ffeab1;
    --red-accent: #fd353c;
    --main-background: #09080d;
    --second-background: #3c3438;
}

.col-6-flex {
    flex-grow: 6;
}
h1{
    text-shadow: 2px 2px 4px #000000;
}
body{
    background-color: #09080d;
    color: lightgrey;
}
#join-game-code-input{
    border: 2px solid white;
}
.card-body,.form-control, .list-group-item{
    background-color: #3c3438;
    border-color: #92a8d1;
    color: white;
    border: none;
}

.delete-user-button {
    border-radius: 50%;
    height: 24px;
    max-width: 24px;
    border: none;
    display: flex;
    justify-content: center;
    background-color: #dc3545;
    margin: auto 0;
    align-items: center;
}

.delete-user-button > svg {
    height: 16px;
    width: 16px;
}

#movement_table .table {
    color: lightgrey;
}
p{
    color: lightgray;
}
#navbar {
    background-color: #778695;
    color: white;
}
a {
    color: #CE2F2BFF;
}
a:hover {
    color: #AA2720FF;
}
#footer {
    background-color: #ABB7B8;
}
.footer_title{
    color: darkslategray;
}
/* Here starts css for HOMEPAGE */
#home-header {
    background-image: url("../images/home_page.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    clip-path: polygon(0% 0%, 0% 76.97%, 28.45% 94.86%, 100% 72.94%, 100% 0%);
}


#home-header > h1{
    color: #ffeab1;
    font-size: 7rem;
    margin-top: 4rem;
}

.game-home-buttons {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
}

.game-home-button {
    margin: 0 1.5rem;
    border: none;
    background-color: #538989FF;
    color: floralwhite;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 5px 5px 5px 5px #000000;
}

#join-game-code-input {
    width: max-content;
}

.home-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.home-div > div {
    margin: 1rem;
    display: inline-block;
}






/* here starts the css for the FOOTER */
#rug-logo-footer {
    filter: invert(80%);
}

footer ul {
    padding: 0;
    list-style-type: none;
}




/* here starts the css for SOMETHING ELSE I DONT KNOW WHAT */
/* .row {
    display: flex;
    flex-direction: column;
} */

#movement_table {
    display: none;
    width: 50%;
}

h5 {
    display: block;
}